body {
    width: 1100px;
}

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: green;
}

a {
    color: aliceblue;
    font-style: unset;
    margin-right: 80px;
    text-align: center;
}

.last {
    margin-right: 0;
}

.image {
    display: block;
    /*margin-top: 10px;*/
	padding-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

main {
	background-color: Gainsboro;
	margin-right: 0px;
	margin-left: 0px;
	/*padding-left: 25px;
	padding-right: 25px;*/
}

.about {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	padding-bottom: 20px;
}

h2 {
	background-color: green;
	height: 30px;
	color: white;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.contact {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	background-color: LightGreen;
	margin-top: 25px;
	padding-bottom: 25px;
}