h1 {
    text-align: center;
}

nav {
    /*float: right;*/

}

p>div.one {
    text-align: center;
}

header, div {
    background-color: rgba(128, 128, 128, 0.1);
}

.foot {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rights {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    width: 250px;
}
