$paragraphColor: rgb(136, 136, 136);
$roseColor: rgb(252, 53, 149);
$fontf: 'Inter', sans-serif;

@mixin h2text {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    min-width: 428px;
    max-width: 575px;
    margin: auto;
    border: 1px solid rgba(200, 200, 200, 0.8);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    text-align: center;
}

.logo {
    height: 36px;
}

.hamburgerMenu {
    width: 36px;
}

nav {
    //display: none;
    visibility:hidden;

    a {
        text-decoration: none;
    }
}

.textBox {
    margin-left: 5%;

    h1 {
        font-size: 2.5em;
        font-family: $fontf;
        font-weight: 800;
    }
    p {
        font-size: 1.2em;
        color: $paragraphColor;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
}


.button {
    $border: 5px;
    width: 250px;
    height: 60px;
    padding: 20px;
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, rgb(221, 145, 157) , rgb(255, 166, 0));
    border-image-slice: 1;
    border-radius: 10px;  /* !! no effect */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

/*
.button {
    width: 250px;
    height: 60px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
*/

/*
.button {
    width: 250px;
    height: 60px;
    border-top: 5px solid red;
    border-right: 5px solid green;
    border-bottom: 5px solid yellow;
    border-left: 5px solid blue;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}
*/

.lounch {
    font-size: 1.1em;
    font-weight: 500;
    color: $roseColor !important;
    margin-top: 20%;
}

.upsell {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 35vh;
    background-image: url("assets/assets/background.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    align-items: flex-end;

    div {
        margin: 5%;

        h2 {
            @include h2text;
        }
    
        p {
            font-size: 1.3em;
            line-height: 1.5em;
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    overflow: hidden;
    height: 55vh;

    .imgBox {
        width: 200%;

        img {
            width: 100%;
        }
    }
}


.press {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5%;
    
    .shortenName {
        height: 40px;
        //overflow: hidden;
    }

    img {
        width: 70%;
        height: 40px;
        /*z-index: -1;*/
        padding: 5%;
    }

    .hidenImg {
        //display: none;
        visibility: hidden;
    }
}


.showcase {
    margin: 5%;

    h2 {
        @include h2text;
    }

    .showText {
        font-size: 1.3em;
        line-height: 1.5em;
        color: $paragraphColor;

        a {
            color: $paragraphColor;
        }
    }


}

.cardsSection {
    display: flex;
    overflow-x: auto;
}

.card {
    width: 290px;
    line-height: 1em;
    background-color: #EEEEEE;
    border-radius: 15px;
    margin-right: 10%;
    
    .cardImage {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cardContent {
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }

    p {
        margin-top: 5px;
    }
}

.card:last-child {
    margin-right: 5%;
}

.serie {
    color: #FF8139;
    font-size: 0.8em;
}

.bidaction {
    color: #777777;
    font-size: 0.8em;
}

.nftName, .nftPrice {
    font-family: $fontf;
    font-size: 1.4em;
}

.nftNumber, .untilStart {
    color: #777777;
    font-size: 1.2em;
}

.leftColumn {
    text-align: left;
}

.rightColumn {
    text-align: right;
}

.nftNumber, .untilStart {
    font-size: 1.2em;
}

.footerupsell {
    height: 60vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    .imgBox {
        width: 100%;
        display: flex;
        align-items: flex-end;

        img {
            width: 100%;
        }
    }
}

footer {
    margin: 5%;
    .imgLogo {
        margin-top: 30px;
    }
    p{
        color: $paragraphColor;
        font-size: 1.2em;
    }
}

.socialIcons img {
    width: 20px;
}

.footerTebles {
    margin-top: 20px;
}

table {
    width: 90%;
    text-align: left;
    border-collapse: collapse;
    font-size: 1.4em;
    margin: 40px auto;
}

th {
    width: 50%;
    color: #777777;
    padding: 10px;
}

td {
    color: $paragraphColor;
    padding: 10px;
}

.copyright {
    height: 8vh;
}

.hiddenText {
    visibility: hidden;
}

@media screen and (min-width: 576px) {
    body {
        max-width: none;
        width: 80%;
        margin: auto;
        border: 1px solid rgba(200, 200, 200, 0.8);
    }

    .hero {
        //display: grid;
        grid-template-columns: 50% 50%;
        //grid-template-rows: 100%;
        overflow: none;
        //height: 55vh;
        margin: 5%;
    
        .imgBox {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .hamburgerMenu {
        display: none;
    }

    nav {
        visibility: visible;
        
        a {
            text-decoration: none;
            color: $paragraphColor;
            font-size: 1.2em;
            padding: 15px;
        }

        .signUpText {
            color: $roseColor;
        }
    }

    .upsell {
        margin: 50px 5% 20px 5%;
        height: 35vh;
        background-image: url("assets/assets/background.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .press {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        //width: auto;
        //margin: auto;
        //justify-content: space-between;

        img {
            //display: flex;
            padding: auto 0;
            //justify-content: space-between;
        }

        .hidenImg {
            visibility: visible;
        }
    }

    .cardsSection {
        display: flex;
        overflow-x: auto;
    }
    
    .card {
        //width: 290px;
        //line-height: 1em;
        //background-color: #EEEEEE;
        //border-radius: 15px;
        margin-right: 10px;
    }

    .footerupsell {
        height: 60vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    
        .imgBox {
            display: flex;
            align-items: center;
    
            img {
                height: 100%;
            }
        }
    }

    footer {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-rows: 1fr;
    }

    .footerTables {
        display: flex;
    }

    table {
        width: 45%;
    }

    th {
        width: 50%;
    }

    .copyright {
        display: inline-flex;
        justify-content: space-between;
    }

    .hiddenText {
        visibility: visible;
    }
}

//Pull Request at 2022.09.06 21:57