body {
    width: 600px;
    text-align: center;
    background-color: rgb(138, 138, 38);
    margin: auto;
    padding: 100px;
}

h1::before, h1::after {
    content: "^^^";
    color: brown;
    padding: 0 30px;
}

h1 {
    margin: auto;
}


nav a:not(:first-of-type)::before {
    content: '//'   ;
    padding: 15px;
    font-size: 2em;
}

a {
    text-decoration: none;
}